.venv/
venv/
__pycache__/
*.pyc
.env
camera.py
gf_pipeline2.py
gf_pipeline3.py
handside.py
landmark.py
RorLhand.py

# Sayandeep Biswas - local GestureFlow files
.venv/
camera_test.py
hand_side_status.py
handland_marks.py
gesture_flow_pipeline.py
gesture_flow_pipeline_update.py
palm_facing_status.py
